<!--Email a staff-->
<!DOCTYPE>
<html>
    <head>
        <title>Email a staff</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Email to <%= employee.firstName %> <%= employee.lastName %></h1>
            <form action="/employees/email/send" method="get">
                <div>
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" required="True">
                </div>
                <div>
                    <label for="message">Message</label>
                    <input type="text" class="form-control" id="message" name="message" required="True">
                </div>
                <input type="hidden" name="id" value="<%= employee.id %>">
                <input type="hidden" class="form-control" id="email" name="email" value="<%= employee.email %>" required="True">
                <br/>
                <div>
                 <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>